<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Сообщения</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon
		============================================ -->
	<!-- <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon_eco.ico"> -->
	<!-- Google Fonts
		============================================ -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<!-- owl.carousel CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<link rel="stylesheet" href="static/css/owl.theme.css">
	<link rel="stylesheet" href="static/css/owl.transitions.css">
	<!-- animate CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- normalize CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/normalize.css">
	<!-- meanmenu icon CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">
	<!-- main CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/main.css">
	<!-- morrisjs CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/morrisjs/morris.css">
	<!-- mCustomScrollbar CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/scrollbar/jquery.mCustomScrollbar.min.css">
	<!-- metisMenu CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/metisMenu/metisMenu.min.css">
	<link rel="stylesheet" href="static/css/metisMenu/metisMenu-vertical.css">
	<!-- calendar CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/calendar/fullcalendar.min.css">
	<link rel="stylesheet" href="static/css/calendar/fullcalendar.print.min.css">
	<!-- style CSS
		============================================ -->
	<link rel="stylesheet" href="static/style.css">
	<!-- responsive CSS
		============================================ -->
	<link rel="stylesheet" href="static/css/responsive.css">
	<!-- modernizr JS
		============================================ -->
	<script src="static/jsvendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div class="left-sidebar-pro">
		<nav id="sidebar" class="">

			<div class="nalika-profile">
				<div class="profile-dtl">
					<a href="#"><img src="static/img/notification/4.jpg" alt="" /></a>
					<h2>Пользователь test</h2>
				</div>
			</div>

			<div class="left-custom-menu-adp-wrap comment-scrollbar">
				<nav class="sidebar-nav left-sidebar-menu-pro">
					<ul class="metismenu" id="menu1">
						<li>

							<ul class="submenu-angle" aria-expanded="true">
								<li><a href="/account-detail"><span class="mini-sub-pro">Аккаунт</span></a></li>
								<li><a href="/mailbox"><span class="mini-sub-pro">Сообщения</span></a></li>
								<li><a href="/"><span class="mini-sub-pro">Уведомления</span></a></li>
								<li><a href="/"><span class="mini-sub-pro">Кластер ботов</span></a></li>
								<li><a href="/"><span class="mini-sub-pro">Рассылка</span></a></li>
								<li><a href="/"><span class="mini-sub-pro">Настройки</span></a></li>
								<li><a href="/"><span class="mini-sub-pro">Оплата</span></a></li>
								<li><a href="/"><span class="mini-sub-pro">Выход</span></a></li>


							</ul>
						</li>

					</ul>
				</nav>
			</div>
		</nav>
	</div>
	<!-- Start Welcome area -->
	<div class="all-content-wrapper">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<!-- add free -->

				</div>
			</div>
		</div>
		<div class="header-advance-area">
			<div class="header-top-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="header-top-wraper">
								<div class="row">

									<div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
										<div class="header-top-menu tabl-d-n">
											<ul class="nav navbar-nav mai-top-nav">
												<!-- <li class="nav-item"><a href="#" class="nav-link">Новости</a>
												</li>
												<li class="nav-item"><a href="#" class="nav-link">Тариф</a>
												</li>
												<li class="nav-item"><a href="#" class="nav-link">Поддержка</a>
												</li> -->
											</ul>
										</div>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
										<div class="header-right-info">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="mailbox-area mg-tb-15">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
							<div class="hpanel responsive-mg-b-30">
								<div class="panel-body">

									<ul class="mailbox-list">
										<li class="active">
											<a href="#">
												<span class="pull-right">12</span>
												<i class="fa fa-envelope"></i> Inbox
											</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-paper-plane"></i> Sent</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pencil"></i> Draft</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-trash"></i> Trash</a>
										</li>
									</ul>
									<hr>
									<ul class="mailbox-list">
										<li>
											<a href="#"><i class="fa fa-plane text-danger"></i> Travel</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-bar-chart text-warning"></i> Finance</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-users text-info"></i> Social</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
										</li>
									</ul>
									<hr>
									<ul class="mailbox-list">
										<li>
											<a href="#"><i class="fa fa-gears"></i> Settings</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-info-circle"></i> Support</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
							<div class="hpanel mg-b-15">
								<div class="panel-heading hbuilt mailbox-hd">
									<div class="text-center p-xs font-normal">
										<div class="input-group">
											<input type="text" class="form-control input-sm"
												placeholder="Search email in your inbox..."> <span
												class="input-group-btn">
												<button type="button" class="btn btn-sm btn-default">Search
												</button> </span>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-6 col-md-6 col-sm-6 col-xs-12 mg-b-15">
											<div class="btn-group">
												<button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i>
													Refresh</button>
												<button class="btn btn-default btn-sm"><i
														class="fa fa-eye"></i></button>
												<button class="btn btn-default btn-sm"><i
														class="fa fa-exclamation"></i></button>
												<button class="btn btn-default btn-sm"><i
														class="fa fa-trash-o"></i></button>
												<button class="btn btn-default btn-sm"><i
														class="fa fa-check"></i></button>
												<button class="btn btn-default btn-sm"><i
														class="fa fa-tag"></i></button>
											</div>
										</div>
										<div class="col-md-6 col-md-6 col-sm-6 col-xs-12 mailbox-pagination mg-b-15">
											<div class="btn-group">
												<button class="btn btn-default btn-sm"><i
														class="fa fa-arrow-left"></i></button>
												<button class="btn btn-default btn-sm"><i
														class="fa fa-arrow-right"></i></button>
											</div>
										</div>
									</div>
									<div class="table-responsive">
										<table class="table table-hover table-mailbox">
											<tbody>
												<tr class="unread">
													<td class="">
														<div class="checkbox checkbox-single checkbox-success">
															<input type="checkbox" checked>
															<label></label>
														</div>
													</td>
													<td><a href="#">Jeremy Massey</a></td>
													<td><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
															elit.</a>
													</td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Tue, Nov 25</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Marshall Horne</a></td>
													<td><a href="#">Praesent nec nisl sed neque ornare maximus at ac
															enim.</a>
													</td>
													<td></td>
													<td class="text-right mail-date">Wed, Jan 13</td>
												</tr>
												<tr class="active">
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Grant Franco</a> <span
															class="label label-warning">Finance</span></td>
													<td><a href="#">Etiam maximus tellus a turpis tempor mollis.</a>
													</td>
													<td></td>
													<td class="text-right mail-date">Mon, Oct 19</td>
												</tr>
												<tr class="unread active">
													<td class="">
														<div class="checkbox checkbox-single">
															<input type="checkbox" checked>
															<label></label>
														</div>
													</td>
													<td><a href="#">Ferdinand Meadows</a></td>
													<td><a href="#">Aenean hendrerit ligula eget augue gravida
															semper.</a>
													</td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Sat, Aug 29</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox checkbox-single">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Ivor Rios</a> <span
															class="label label-info">Social</span>
													</td>
													<td><a href="#">Sed quis augue in nunc venenatis finibus.</a></td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Sat, Dec 12</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Maxwell Murphy</a></td>
													<td><a href="#">Quisque eu tortor quis justo viverra cursus.</a>
													</td>
													<td></td>
													<td class="text-right mail-date">Sun, May 17</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Henry Patterson</a></td>
													<td><a href="#">Aliquam nec justo interdum, ornare mi non, elementum
															lacus.</a></td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Thu, Aug 06</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Brent Rasmussen</a></td>
													<td><a href="#">Nam nec turpis sed quam tristique sodales.</a></td>
													<td></td>
													<td class="text-right mail-date">Sun, Nov 15</td>
												</tr>
												<tr class="unread">
													<td class="">
														<div class="checkbox checkbox-single checkbox-success">
															<input type="checkbox" checked>
															<label></label>
														</div>
													</td>
													<td><a href="#">Joseph Hurley</a></td>
													<td><a href="#">Nullam tempus leo id urna sagittis blandit.</a></td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Sun, Aug 10</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Alan Matthews</a></td>
													<td><a href="#">Quisque quis turpis ac quam sagittis scelerisque vel
															ut
															urna.</a></td>
													<td></td>
													<td class="text-right mail-date">Sun, Mar 27</td>
												</tr>
												<tr class="active">
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Colby Lynch</a> <span
															class="label label-danger">Travel</span></td>
													<td><a href="#">Donec non enim pulvinar, ultrices metus eget,
															condimentum
															mi.</a></td>
													<td></td>
													<td class="text-right mail-date">Thu, Dec 31</td>
												</tr>
												<tr class="unread">
													<td class="">
														<div class="checkbox checkbox-single checkbox-success">
															<input type="checkbox" checked>
															<label></label>
														</div>
													</td>
													<td><a href="#">Jeremy Massey</a></td>
													<td><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
															elit.</a>
													</td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Tue, Nov 25</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Marshall Horne</a></td>
													<td><a href="#">Praesent nec nisl sed neque ornare maximus at ac
															enim.</a>
													</td>
													<td></td>
													<td class="text-right mail-date">Wed, Jan 13</td>
												</tr>
												<tr class="active">
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Grant Franco</a> <span
															class="label label-warning">Finance</span></td>
													<td><a href="#">Etiam maximus tellus a turpis tempor mollis.</a>
													</td>
													<td></td>
													<td class="text-right mail-date">Mon, Oct 19</td>
												</tr>
												<tr class="unread active">
													<td class="">
														<div class="checkbox checkbox-single">
															<input type="checkbox" checked>
															<label></label>
														</div>
													</td>
													<td><a href="#">Ferdinand Meadows</a></td>
													<td><a href="#">Aenean hendrerit ligula eget augue gravida
															semper.</a>
													</td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Sat, Aug 29</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox checkbox-single">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Ivor Rios</a> <span
															class="label label-info">Social</span>
													</td>
													<td><a href="#">Sed quis augue in nunc venenatis finibus.</a></td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Sat, Dec 12</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Maxwell Murphy</a></td>
													<td><a href="#">Quisque eu tortor quis justo viverra cursus.</a>
													</td>
													<td></td>
													<td class="text-right mail-date">Sun, May 17</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Henry Patterson</a></td>
													<td><a href="#">Aliquam nec justo interdum, ornare mi non, elementum
															lacus.</a></td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Thu, Aug 06</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Brent Rasmussen</a></td>
													<td><a href="#">Nam nec turpis sed quam tristique sodales.</a></td>
													<td></td>
													<td class="text-right mail-date">Sun, Nov 15</td>
												</tr>
												<tr class="unread">
													<td class="">
														<div class="checkbox checkbox-single checkbox-success">
															<input type="checkbox" checked>
															<label></label>
														</div>
													</td>
													<td><a href="#">Joseph Hurley</a></td>
													<td><a href="#">Nullam tempus leo id urna sagittis blandit.</a></td>
													<td><i class="fa fa-paperclip"></i></td>
													<td class="text-right mail-date">Sun, Aug 10</td>
												</tr>
												<tr>
													<td class="">
														<div class="checkbox">
															<input type="checkbox">
															<label></label>
														</div>
													</td>
													<td><a href="#">Alan Matthews</a></td>
													<td><a href="#">Quisque quis turpis ac quam sagittis scelerisque vel
															ut
															urna.</a></td>
													<td></td>
													<td class="text-right mail-date">Sun, Mar 27</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- <div class="panel-footer">
									<i class="fa fa-eye"> </i> 6 unread
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer-copy-right">
								<!-- <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights
									reserved.</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- jquery
		============================================ -->
		<script src="static/jsvendor/jquery-1.11.3.min.js"></script>
		<!-- bootstrap JS
		============================================ -->
		<script src="static/jsbootstrap.min.js"></script>
		<!-- wow JS
		============================================ -->
		<script src="static/jswow.min.js"></script>
		<!-- price-slider JS
		============================================ -->
		<script src="static/jsjquery-price-slider.js"></script>
		<!-- meanmenu JS
		============================================ -->
		<script src="static/jsjquery.meanmenu.js"></script>
		<!-- owl.carousel JS
		============================================ -->
		<script src="static/jsowl.carousel.min.js"></script>
		<!-- sticky JS
		============================================ -->
		<script src="static/jsjquery.sticky.js"></script>
		<!-- scrollUp JS
		============================================ -->
		<script src="static/jsjquery.scrollUp.min.js"></script>
		<!-- mCustomScrollbar JS
		============================================ -->
		<script src="static/jsscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="static/jsscrollbar/mCustomScrollbar-active.js"></script>
		<!-- metisMenu JS
		============================================ -->
		<script src="static/jsmetisMenu/metisMenu.min.js"></script>
		<script src="static/jsmetisMenu/metisMenu-active.js"></script>
		<!-- morrisjs JS
		============================================ -->
		<script src="static/jssparkline/jquery.sparkline.min.js"></script>
		<script src="static/jssparkline/jquery.charts-sparkline.js"></script>
		<!-- calendar JS
		============================================ -->
		<script src="static/jscalendar/moment.min.js"></script>
		<script src="static/jscalendar/fullcalendar.min.js"></script>
		<script src="static/jscalendar/fullcalendar-active.js"></script>
		<!-- tab JS
		============================================ -->
		<script src="static/jstab.js"></script>
		<!-- plugins JS
		============================================ -->
		<script src="static/jsplugins.js"></script>
		<!-- main JS
		============================================ -->
		<script src="static/jsmain.js"></script>
</body>

</html>